@model CheckoutVM
@{
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                        <h2 class="breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-md-right">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Checkout</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->
<!-- checkout area start -->
@if (Model != null && Model.Products != null)
{
    <div class="checkout-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="billing-info-wrap">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-4">
                                    <label>First Name</label>
                                    <input readonly value="@Model.SUsers.Result.Firstname" type="text" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-4">
                                    <label>Last Name</label>
                                    <input readonly value="@Model.SUsers.Result.Lastname" type="text" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-4">
                                    <label>Street Address</label>
                                    <input id="Address" placeholder="Apartment, suite, unit etc." type="text" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-4">
                                    <label>Phone</label>
                                    <input id="PhoneNumber" value="@Model.SUsers.Result.PhoneNumber" type="text" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-4">
                                    <label>Email Address</label>
                                    <input readonly type="text" value="@Model.SUsers.Result.Firstname"/>
                                </div>
                            </div>
                        </div>
                        <div class="additional-info-wrap">
                            <h4>Additional information</h4>
                            <div class="additional-info">
                                <label>Order notes</label>
                                <textarea placeholder="Notes about your order, e.g. special notes for delivery. " name="message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-md-30px mt-lm-30px ">
                    <div class="your-order-area">
                        <h3>Your order</h3>
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-product-info">
                                <div class="your-order-top">
                                    <ul>
                                        <li>Product</li>
                                        <li>Total</li>
                                    </ul>
                                </div>
                                <div class="your-order-middle">
                                    <ul>
                                        @{
                                            decimal total = 0;
                                        }
                                        @foreach (var product in Model.Products)
                                        {
                                            int quantiy = Model.ProductIds.Where(x => x == product.ID).Count();
                                            total += quantiy * product.Price;
                                            <li><span class="order-middle-left">@product.Name X @quantiy</span> <span class="order-price">@(quantiy*product.Price) ₼</span></li>
                                        }
                                    </ul>
                                </div>
                                <div class="your-order-bottom">
                                    <ul>
                                        <li class="your-order-shipping">Shipping</li>
                                        <li>Free shipping</li>
                                    </ul>
                                </div>
                                <div class="your-order-total">
                                    <ul>
                                        <li class="order-total">Total</li>
                                        <li>@*@Model.Products.Sum(p => Model.ProductIds.Where(x => x == p.ID).Count() * p.Price) ₼*@</li>
                                        <li>@total ₼</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="payment-accordion element-mrg">
                                    <div id="faq" class="panel-group">
                                        <div class="panel panel-default single-my-account m-0">
                                            <div class="panel-heading my-account-title">
                                                <h4 class="panel-title">
                                                    <a data-bs-toggle="collapse" href="#my-account-1" class="collapsed" aria-expanded="true">Direct bank transfer</a>
                                                </h4>
                                            </div>
                                            <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">

                                                <div class="panel-body">
                                                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default single-my-account m-0">
                                            <div class="panel-heading my-account-title">
                                                <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-2" aria-expanded="false" class="collapsed">Check payments</a></h4>
                                            </div>
                                            <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">

                                                <div class="panel-body">
                                                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default single-my-account m-0">
                                            <div class="panel-heading my-account-title">
                                                <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-3">Cash on delivery</a></h4>
                                            </div>
                                            <div id="my-account-3" class="panel-collapse collapse" data-bs-parent="#faq">

                                                <div class="panel-body">
                                                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Place-order mt-25">
                            <a class="btn-hover" href="#">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <!-- Cart area start -->
                    <div class="empty-cart-area pb-100px pt-100px">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cart-heading">
                                        <h2>Your cart item</h2>
                                    </div>
                                    <div class="empty-text-contant text-center">
                                        <i class="icon-handbag"></i>
                                        <h1>There are no more items in your cart</h1>
                                        <a class="empty-cart-btn" href="/">
                                            <i class="ion-ios-arrow-left"> </i> Continue shopping
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <!-- Cart area end -->
 }
@section Script{ 
<script>
    $(".Place-order .btn-hover").click(function (e) {
        e.preventDefault()
        $.ajax({
            url: "/Orders/PlacedProduct",
            method: "Post",
            data: {
                Address: $("#Address").val(),
                PhoneNumber: $("#PhoneNumber").val()
            },
            success: function () {
                Swal.fire(
                    'Mehsul sifaris olundu',
                    'Sizinle Tezlikle elaqe saxlanildi!',
                    'success'
                )
                setTimeout(function () {
                    window.location.reload()
                },1500)
            }
        })
    })
</script>
}